// Phones
$screen-xsm-min: 480px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Extra small devices
@mixin x-small {
    @media (max-width: #{$screen-xsm-min}) {
        @content;
    }
  }
  
  // Small devices
  @mixin small {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
  }
  
  // Medium devices
  @mixin medium {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
  }
  
  // Large devices
  @mixin large {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
  }
  
  // Extra large devices
  @mixin x-large {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
  }