<h1>Vuxna män bettar på NFL, ibland.</h1>

<div class="scoreboard" *ngIf="data$ | async as data">
  <div class="row" *ngFor="let team of data; let i=index">
    <div class="col pos">{{ i + 1 }}</div>
    <div class="col dude">{{ team.dude | uppercase }}</div>
    <div class="col name">{{ team.name | uppercase }}</div>
    <div class="col score" *ngIf="team.ties === 0">{{ team.wins }}-{{ team.losses }}</div>
    <div class="col score" *ngIf="team.ties > 0">{{ team.wins }}-{{ team.losses }}-{{ team.ties }}</div>
  </div>
</div>

<div class="game-section">
  <div class="section" *ngIf="finishedGames$ | async as games">
    <h2>Senaste matcherna</h2>
    <p *ngFor="let game of games">
      <span *ngIf="game.phase !== 'FINAL'" class="live">&#9679;</span>
      <span>{{ game.homeTeam }} - {{ game.awayTeam }}, {{ game.homePoints }}-{{ game.awayPoints }}</span>
      <span class="phase">{{ game.phase }}</span>
    </p>
    <p *ngIf="games.length === 0">Inga intressanta lag har spelat än i denna omgång.</p>
  </div>
  <div class="section" *ngIf="upcomingGames$ | async as games">
    <h2>Kommande matcher</h2>
    <p *ngFor="let game of games">
      {{ game.date | date: 'MM/dd, HH:ss'}}: {{ game.homeTeam }} - {{ game.awayTeam }}
    </p>
    <p *ngIf="games.length === 0">Alla intressanta lag har spelat denna omgång.</p>
  </div>
</div>