@import 'variables';

:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;

    @include small {
        padding: 0 25px;
    }

    h1 {
        margin: 75px 0;
        color: white;
        text-shadow: 1px 1px black;
        font-size: 50px;
        text-align: center;

        @include small {
            font-size: 25px;
        }
    }

    .scoreboard {
        border-radius: 10px;
        max-width: 600px;
        width: 100%;
        background: #242582;
        box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.2);
        border: 1px solid #6c70ce;

        .row {
            display: flex;
            padding: 15px 30px;
            font-size: 21px;
            color: white;

            &:not(:last-of-type) {
                border-bottom: 1px solid #6c70ce;
            }

            // Clean this up.
            &:first-of-type {
                .col {
                    &.dude, &.name {
                        position: relative;

                        &::before {
                            position: absolute;
                            top: -50px;
                            content: '';
                            background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/76/crown_1f451.png');
                            background-size: cover;
                            width: 55px;
                            height: 55px;
                        }
                    }

                    &.name::before {
                        display: none;
                    }

                    @include x-small {
                        &.name::before {
                            display: inline-block;
                            top: -36px;
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }

            .col {
                flex: 1;
                text-overflow: ellipsis;

                &.pos, &.score {
                    flex: 0 0 50px !important;
                }

                &.dude {
                    @include x-small {
                        display: none;
                    }
                }

                &:last-of-type {
                    text-align: right;
                }
            }
        }
    }

    .game-section {
        width: 100%;
        justify-content: center;
        display: flex;
        flex: 1;
        margin-top: 50px;

        @include medium {
            flex-direction: column;
        }

        .section {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                margin: 20px 0;
                color: white;
                text-shadow: 1px 1px black;
                font-size: 40px;

                @include small {
                    font-size: 30px;
                }
            }

            span {
                &.phase {
                    margin-left: 10px;
                    font-size: 18px;
                }

                &.live {
                    color: #3ae03a;
                    margin-right: 10px;
                }
            }

            p {
                display: flex;
                align-items: center;
                font-size: 30px;
                color: white;
                text-shadow: 1px 1px black;
                margin-bottom: 10px;

                @include small {
                    font-size: 20px;
                }
            }
        }
    }
}

