<h1>Vuxna män bettar på NFL, ibland.</h1>

<div class="scoreboard" *ngIf="scoreboard$ | async as scoreboard">
  <div class="row" *ngFor="let team of scoreboard; let i=index">
    <div class="col pos">{{ i + 1 }}</div>
    <div class="col dude">{{ team.name | uppercase }}</div>
    <div class="col name">{{ team.team | uppercase }}</div>
    <div class="col score" *ngIf="team.ties === 0">{{ team.wins }}-{{ team.losses }}</div>
    <div class="col score" *ngIf="team.ties > 0">{{ team.wins }}-{{ team.losses }}-{{ team.ties }}</div>
  </div>
</div>

<div class="game-section">
  <div class="section" *ngIf="startedGames$ | async as games">
    <h2>Senaste matcherna</h2>
    <p *ngFor="let game of games">
      <span *ngIf="game.active" class="live">&#9679;</span>
      <span>{{ game.awayTeam }} @ {{ game.homeTeam }}, {{ game.awayScore }}-{{ game.homeScore }}</span>
      <span class="phase">{{ game.time }}</span>
    </p>
    <p *ngIf="games.length === 0">Inga intressanta lag har spelat än i denna omgång.</p>
  </div>

  <div class="section" *ngIf="upcomingGames$ | async as games">
    <h2>Kommande matcher</h2>
    <p *ngFor="let game of games">
      {{ game.date | date: 'dd/MM, HH:ss'}}: {{ game.awayTeam }} @ {{ game.homeTeam }}
    </p>
    <p *ngIf="games.length === 0">Alla intressanta lag har spelat denna omgång.</p>
  </div>
</div>