/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Anton', 'Verdana';
    // background-image:
    // radial-gradient(
    //   circle,
    //   #242582,
    //   #2F2FA2
    // );
    background: #F64C72;
}

* {
    margin: 0;
    padding: 0;
}